.header {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #262626;
  color: rgb(87, 82, 82);
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.button {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
