.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
  height: 20vh;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 4px;
}

.button {
  width: 80%;
  margin-bottom: 4px;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  font-size: large;
  padding: 8px;
  font-weight: 600;
}

.button:hover {
  background-color: salmon;
}

* {
  box-sizing: border-box;
}
